
 <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary rounded">
          <div class="container-fluid">
            <a href="../index.html" class="navbar-brand col-lg-3 me-0">
              <img
                src="../assets/images/logo.png"
                width="62"
                alt="Logo"
                class="d-inline-block align-text-center"
              />
              TechFit
            </a>

            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navLinks"
              aria-controls="navLinks"
              aria-expanded="false"
              aria-label="Alternar navegação"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse d-lg-flex" id="navLinks">
              <ul class="navbar-nav col-lg-6 justify-content-lg-center gap-3">
                <li class="nav-item">
                  <a href="../index.html" class="nav-link active" aria-current="page"
                    >Inicio</a
                  >
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Sobre</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Planos</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Aulas</a>
                </li>
              </ul>

              <div
                id="login"
                class="d-lg-flex col-lg-3 gap-3 m-0 p-2 justify-content-lg-end"
              >
                <a class="btn btn-outline-dark">Entrar</a>
                <a class="btn btn-dark">Cadastrar-se</a>
              </div>
              <!-- Usuario logado -->
              <div id="usuario" class="hidden dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="../assets/images/avatar.png" alt="Profile picture" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small">
                  <li>
                    <a href="#" class="dropdown-item">Perfil</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Configurações</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Sair</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </header>
