h1{
    color: purple;
    background-color: black;
    text-align: center;
    padding: 10px;
    margin-left: 50px;
    height: 150px;
}
h1:hover{
    color: blue;
    background-color: black;
    padding: 15px;

}
h2{
    text-align: center;
    color: white;
    background-color: blue;
    padding: 10px;
    margin-right: 20px;
    height: 120px;
    transition: transform 1000ms;
}
h2:hover{
    transform: translateY(-2px) scale(.7);
    cursor: not-allowed; 
    background: linear-gradient(90deg,rgb(0, 242, 255) 0%, rgb(50, 101, 255) 43%, rgba(237, 83, 198, 1) 100%);
}
img{
    height: 70px;
    width: auto;
}